<#ftl output_format="HTML" encoding="UTF-8">
<#-- @ftlvariable name="" type="de.denic.domainid.authendpoint.view.SessionInfoView" -->
<html>
	<#include "include/head.ftl">
	<body>
		<div class="w3-container">
			<div class="w3-display-container w3-margin-top">
				<div class="w3-display-topmiddle w3-card-4">
					<#include "include/identityAuthorityHeader.ftl">
					<div class="w3-padding">
						HTTP cookies:
						<ul>
<#list sessionInfo.httpHeaders.cookies as key, cookie>
							<li>${cookie}</li>
<#else>
							<li>NO HTTP session cookies!</li>
</#list>
						</ul>
					</div>
<#list subjectSessions>
					<div class="w3-padding">
						Backend Subject Sessions:
	<#items as subjectSession>
						<ul>
							<li>ID: ${subjectSession.id!"---"}</li>
							<li>Subject: ${subjectSession.subject}</li>
							<li>Creation timestamp: ${subjectSession.creationTimestamp}</li>
							<li>Auth. timestamp: ${subjectSession.authenticationTimestamp}</li>
							<li>Auth. lifetime: ${subjectSession.authenticationLifetime.toHours()} h</li>
							<li>Max. lifetime: ${subjectSession.maxLifetime.toHours()} h</li>
							<li>Max. idle: ${subjectSession.maxIdle.toHours()} h</li>
							<li>Auth. method references: ${subjectSession.authenticationMethodReferences?join(", ", "-")}</li>
							<li>
								Claims:
		<#assign claims = subjectSession.claims />
		<#list claims?keys>
								<ul>
			<#items as claim>
									<li>${claim}: ${claims[claim]}</li>
			</#items>
								</ul>
		<#else>
								NO claims available
		</#list>
							</li>
							<li>Optional data: ${subjectSession.optionalData}</li>
						</ul>
	</#items>
					</div>
</#list>
					<div class="w3-padding">
   					<form action="/sessionInfo/clear" method="post">
	   					<button class="w3-button w3-grey" name="submit"> Clear session </button>
		   			</form
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
