	<head profile="http://auth.freedom-id.de/2018/01/profile">
		<title>DENIC eG ${idName} User Dashboard</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="/static/favicon.ico">
		<link rel="stylesheet" href="/static/style.css">
	</head>
