					<header class="w3-container w3-padding-12 w3-inetid-grey w3-center">
						<div class="w3-container">
							<h3>
								<img src="/static/logo_denic.svg" class="w3-left w3-marging">
								<div>Identity Authority</div>
							</h3>
						</div>
					</header>
					<div class="w3-right-align w3-small w3-padding w3-inetid-gold">Empowering <img class="w3-margin-center" src="/static/logo.svg" style="height:14px;margin-bottom:0px"></div>
